<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <div class="row">
        <div class="col">
            {% block info_current_element %} {% endblock %}
        </div>

        <div class="col">
            {% block list_group %} {% endblock %}
            {% if list_group %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                {% block name_table_group_list %}
                                {% endblock %} 
                            </th>
                        </tr>
                    </thead>
        
                    <tbody>
                        {% for group in list_group %}
                            <tr>
                                <td>
                                    <a href="/viewgroup/{{ group.id }}">
                                        {{ group }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% if current_group %}
                {% else %}
                    {% if current_item %}
                    {% else %}
                    <h3> Not fount group </h3>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if list_group.has_other_pages %}
                <ul class="pagination">
                    {% if list_group.has_previous %}
                        <li><a href="?page_group={{ list_group.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
        
                    {% for i in list_group.paginator.page_range %}
                        {% if list_group.number == i %}
                            <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page_group={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
        
                    {% if list_group.has_next %}
                        <li><a href="?page_group={{ list_group.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <div class="col">
            {% block list_item %} {% endblock %}
            {% if list_item %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                {% block name_table_item_list %}
                                {% endblock %}
                            </th>
                        </tr>
                    </thead>
        
                    <tbody>
                        {% for item in list_item %}
                            <tr>
                                <td>
                                    <a href="/viewitem/{{ item.id }}">
                                        {{ item }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if list_item.has_other_pages %}
                <ul class="pagination">
                    {% if list_item.has_previous %}
                        <li><a href="?page_item={{ list_item.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
        
                    {% for i in list_item.paginator.page_range %}
                        {% if list_item.number == i %}
                            <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page_item={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
        
                    {% if list_item.has_next %}
                        <li><a href="?page_item={{ list_item.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
</body>
</html>